@{
    ViewBag.Title = "关于";
}
<h3>@ViewBag.Message</h3>
<br />
<p><b> 你好, 我是软件攻城狮</b></p>
<p>精通Java SE 和Java EE 技术，包括Servlet/JSp、Applet 、JDBC 、EJB 、Web Service，Sprint Cloud 、Spring Boot等。</p><p>掌握面向对象的分析和设计技术，包括设计模式。</p><p>能够整合企业管理理念、业务流程、基础数据、人力物力、计算机硬件和软件等众多企业资源、微服务架构, 并应用ERp 系统针对企业资源进行管理。</p><p>掌握数据库及数据持久相关技术Oracle、Sql Server、MySql 、Rides、Mongodb、Mybatis、Hibernate。</p><p>掌握前端相关技术Html、Css、JavaScript 、Jquery、Bootstrap、Angularjs、Easyui、Webix。</p>
