@{
    ViewBag.Title = "联系方式";
}
<h3>@ViewBag.Message</h3>


<br />
<address>
    <strong>称呼：</strong> 伟博<br />
</address>
<address>
    <strong><abbr title="手机">手机：</abbr></strong>   +86 15919879982<br />
</address>
<address>
    <strong>微博：</strong>   <a href="https://weibo.com/305805395">https://weibo.com/305805395</a><br />
</address>
<address>
    <strong>邮箱：</strong>   <a href="mailto:webczw@163.com">webczw@163.com</a><br />
</address>
<address>
    <strong>地址：</strong>   中国 / 广东省 / 深圳市 / 龙岗区 / 坂田<br />
</address>