@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>系统升级ING......</h1>
    <p class="lead">伟博小城从2010年至今快经过了快10个年头，从最初版本到现如今的版本，大大小小经历了许多，这次改版希望是彻底的，敬请期待。</p>
    <p><a href="http://www.webczw.com/" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>我的想法</h2>
        <p>
            Java的应用可以说是无处不在，从桌面办公应用到网络数据库等应用，从PC到嵌入式移动平台，从Java小应用程序(Applet)到架构庞大的J2EE企业级解决方案，处处都有Java的身影，就连美国大型太空项目当中，也使用了Java来开发控制系统和相关软件。
        </p>
        <p><a class="btn btn-default" href="http://www.webczw.com/">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>兴趣 & 爱好</h2>
        <p>每个人都有自己的兴趣爱好，而我的兴趣爱好则数不胜数，如读书，摄影，音乐，旅行，运动，可我最喜欢的就是敲代码，它给我带来无穷无尽的快乐。对我而言不敲代码的生活是那么的枯燥乏味，是它让我感到了生活的趣味。</p>
        <p><a class="btn btn-default" href="http://www.webczw.com/">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>项目经验</h2>
        <p>从一个城市到另一个城市，每一个项目都会结识到一帮技术和管理牛人，也是经历成长的一部分。从刚开始的平安物业，一路参与经历了中国海油、SOHO中国、龙湖地产，再到现在的华为，不同阶段学习到太多知识与技能，同样也积累了诸多经验。</p>
        <p><a class="btn btn-default" href="http://www.webczw.com/">了解更多 &raquo;</a></p>
    </div>
</div>